@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Pinyon+Script|Roboto+Slab:100,300,400,700&display=swap");
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

body .jumbotron {
  position: relative;
  background: url("../images/Background_Image.png");
  min-height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
}

body .services {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  text-align: center;
}

body .portfolio {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  background-color: #f7f7f7;
}

body .about {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
}

body .team {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  background-color: #f9f9f9;
  text-align: center;
}

body .sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 61px 0;
}

body .contact {
  display: flex;
  flex-direction: column;
  padding: 110px 0;
  background: url("../images/contact-section.png");
  background-size: cover;
}

body .col-1 {
  width: 8.33%;
}

body .col-2 {
  width: 16.66%;
}

body .col-3 {
  width: 25%;
}

body .col-4 {
  width: 33.33%;
}

body .col-5 {
  width: 41.66%;
}

body .col-6 {
  width: 50%;
}

body .col-7 {
  width: 58.33%;
}

body .col-8 {
  width: 66.66%;
}

body .col-9 {
  width: 75%;
}

body .col-10 {
  width: 83.33%;
}

body .col-11 {
  width: 91.66%;
}

body .col-12 {
  width: 100%;
}

.tint {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.jumbo-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  height: 100%;
}

.jumbo-container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 3%;
}

.jumbo-container .header .logo {
  color: #fed136;
  font-family: 'Pinyon Script', cursive;
  font-weight: 400;
  font-size: 46px;
}

.jumbo-container .header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jumbo-container .header .menu a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 0 20px;
  text-decoration: none;
  line-height: 58px;
  transition: background-color 0.5s ease;
}

.jumbo-container .header .menu a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #d9d9d9;
  border-radius: 3%;
}

.jumbo-container .welcome {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  margin-top: 15%;
}

.jumbo-container .nice {
  color: white;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  margin-top: 3%;
}

.jumbo-container .jumbo-button {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 25px 50px;
  text-align: center;
  max-width: 160px;
  background-color: #fed136;
  border-radius: 3%;
  cursor: pointer;
  align-self: center;
  margin-top: 5%;
  transition: background-color 0.5s ease;
}

.jumbo-container .jumbo-button:hover {
  background: rgba(254, 209, 54, 0.5);
}

.services-h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}

.services-h2 {
  color: #777777;
  font-size: 16px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 26px;
}

.services-row {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  align-self: center;
  justify-content: space-around;
}

.services-row .services-col {
  display: flex;
  flex-direction: column;
}

.services-row .services-col .services-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid #fed136;
  align-self: center;
}

.services-row .services-col .services-pic:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-color: #fcc400;
}

.services-row .services-col .title {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  margin: 0;
}

.services-row .services-col .title:hover {
  cursor: pointer;
}

.services-row .services-col .services-desc {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}

.portfolio-h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}

.portfolio-h2 {
  color: #777777;
  font-size: 16px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 26px;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  margin-top: 50px;
}

.portfolio-row .portfolio-col {
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: background-color 0.5s ease;
}

.portfolio-row .portfolio-col:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.portfolio-row .portfolio-col img {
  width: 291px;
  height: 300px;
}

.portfolio-row .portfolio-col .portfolio-title {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 29px;
}

.portfolio-row .portfolio-col .portfolio-subtitle {
  color: #737373;
  font-size: 14px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 29px;
}

.about-h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}

.about-h2 {
  color: #777777;
  font-size: 16px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 26px;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  min-height: 500px;
}

.about-container .about-row {
  position: relative;
  height: 184px;
}

.about-container .about-row .about-desc {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  max-width: 33.33%;
  height: 184px;
}

.about-container .about-row .about-desc .desc-h1 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 17px;
}

.about-container .about-row .about-desc .desc-text {
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 50%;
  overflow: auto;
}

.about-container .about-row .about-desc .end {
  align-self: flex-end;
}

.about-container .about-row .left {
  transform: translateX(-170px);
  right: 50%;
  text-align: right;
}

.about-container .about-row .right {
  transform: translateX(170px);
  left: 50%;
  text-align: left;
}

.about-container .about-row .about-img {
  position: absolute;
  top: 0;
  transform: translateX(50%);
  right: 50%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
}

.about-container .about-row-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 93px;
}

.about-container .about-row-con .connector {
  width: 1px;
  height: 93px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.about-container .last {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-container .last .story {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  background-color: #fed136;
  align-items: center;
  justify-content: center;
}

.about-container .last .story p {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
}

.team-h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}

.team-h2 {
  color: #777777;
  font-size: 16px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 26px;
  margin-bottom: 83px;
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-row .team-column {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.team-row .team-column .team-img {
  width: 220px;
  height: 220px;
  background-color: #111111;
  border: 7px solid #ffffff;
  border-radius: 50%;
}

.team-row .team-column .name {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
}

.team-row .team-column .position {
  font-size: 14px;
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin-bottom: 14px;
}

.team-row .team-column .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-row .team-column .social-media .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border: 3px solid #222222;
  background-color: #f9f9f9;
  border-radius: 50%;
  margin: 0 5px;
}

.team-desc {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}

.sponsors-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sponsors-row img {
  margin: 0 20px;
}

.contact-h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  color: white;
}

.contact-h2 {
  color: #777777;
  font-size: 16px;
  font-style: italic;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: 26px;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-row .contact-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.contact-row .contact-inputs input {
  width: 455px;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 29px;
}

.contact-row .contact-textfield textarea {
  width: 455px;
  height: 216px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.contact-button {
  display: flex;
  flex-direction: row;
  height: 66px;
  padding: 0 30px;
  background-color: #fed136;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  align-self: center;
  align-items: center;
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(254, 209, 54, 0.9);
  background: rgba(254, 209, 54, 0.7);
}

/*# sourceMappingURL=style.css.map */