@import "../mixins.scss";

.services {
    @include column-display;    
    text-align: center;

    .services-h1 {
        color: #222222;
        font-size: 40px;
        font-weight: 700;
        line-height: 75px;
        margin-top: 120px;
    }
    .services-h2 {
        color: #777777;
        font-family: 'Merriweather', serif; 
        font-weight: 700;
        font-size: 16px;
        font-style: italic;
    }
    .services-row {
        @include row-display;
        margin: 120px 0;
        align-self: center;
        justify-content: space-around;

        .services-col {
            @include column-display;            

            .services-pic {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68px;
                height: 68px;
                border-radius: 50%;
                border: 3px solid #fed136;
                align-self: center;
            }
            .title {
                color: #222222;
                font-size: 18px;
                font-weight: 700;
                line-height: 75px;
                margin: 0;
            }
            .services-desc {
                color: #777777;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Roboto Slab', serif;
            }
        }
    }
}